/*
 * Copyright (c) 2025 Allister MacLeod
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#include "glam-util.dtsi"
#include "glam-gaming.dtsi"
#include "key-labels-glam/apiaster.h"

// Apiaster keymap.

#define DEFAULT 0
#define GAMING  0
#define OVERLAY 1
#define QWERTY  2
#define KEEBCTL 3

#include "glam-bt-kbdctl.dtsi"

/ {
  keymap {
    compatible = "zmk,keymap";

    gaming_layer {
//       ,-----------------------------.               ,-----------------------------.
//       |  1  |  2  |  3  |  4  |  5  |               |  6  |  7  |  8  |  9  |  0  |
// ,-----|  T  |  Q  |  W  |  E  |  R  |               |  Y  |  U  |  I  |  O  |  P  |-----.
// | Tab |Shift|  A  |  S  |  D  |  F  |               |  H  |  J  |  K  |  L  |  ;  |Enter|
// | Esc | Ctrl|  Z  |  X  |  C  |  V  |-----.   ,-----|  N  |  M  |  ,  |  .  |  /  |Shift|
// `-----------------------| Alt | OVL |Space|   |Space|QWRTY| Bksp|-----------------------'
//                         `-----------------'   `-----------------'
      bindings = <
         &kp N1     &kp N2  &kp N3  &kp N4  &kp N5                 &kp N6  &kp N7  &kp N8    &kp N9  &kp N0
         &kp T      &kp Q   &kp W   &kp E   &kp R                  &kp Y   &kp U   &kp I     &kp O   &kp P
&kp TAB  &kp LSHIFT &kp A   &kp S   &kp D   &kp F                  &kp H   &kp J   &kp K     &kp L   &kp SEMI &kp ENTER
&kp ESC  &kp LCTRL  &kp Z   &kp X   &kp C   &kp V                 &kp N   &kp M   &kp COMMA &kp DOT &kp FSLH &kp RSHIFT
                         &kp LALT &mo OVERLAY &kp SPACE   &kp SPACE &mo QWERTY &kp BACKSPACE
      >;
      display-name = "Game";
    };

    overlay_layer {
//       ,-----------------------------.               ,-----------------------------.
//       |  I  |  H  |  J  |  K  |  L  |               |     |     |     |     |     |
// ,-----| Esc | ^Q  | ^W  | ^E  | ^R  |               |     |     |     |     |     |-----.
// |  M  | KP+ |Alt-A|Alt-D|Alt-T|  B  |               |     |     |     |     |     |     |
// |KBCTL| KP- | ^Y  |Alt-X|Alt-C|M-g/r|-----.   ,-----|     |     |     |     |     |     |
// `-----------------------|     |#####|     |   |     |QWRTY|     |-----------------------'
//                         `-----------------'   `-----------------'
      bindings = <
            &kp I        &kp H     &kp J     &kp K     &kp L                     &trans &trans &trans &trans &trans
            &kp ESC      &kp LC(Q) &kp LC(W) &kp LC(E) &kp LC(R)                 &trans &trans &trans &trans &trans
&kp M       &kp KP_PLUS  &kp LA(A) &kp LA(D) &kp LA(T) &kp B                     &trans &trans &trans &trans &trans &trans
&to KEEBCTL &kp KP_MINUS &kp LC(Y) &kp LA(X) &kp LA(C) &tth LA(G) LA(R)          &trans &trans &trans &trans &trans &trans
                                                    &trans &trans &trans      &trans &to QWERTY &trans
      >;
      display-name = "OVL";
    };

    qwerty_layer {
//       ,-----------------------------.               ,-----------------------------.
//       |  1  |  2  |  3  |  4  |  5  |               |  6  |  7  |  8  |  9  |  0  |
// ,-----|  Q  |  W  |  E  |  R  |  T  |               |  Y  |  U  |  I  |  O  |  P  |-----.
// | Tab |  A  |  S  |  D  |  F  |  G  |               |  H  |  J  |  K  |  L  |  ;  |Enter|
// |  \  |  Z  |  X  |  C  |  V  |  B  |-----.   ,-----|  N  |  M  |  ,  |  .  |  /  |Shift|
// `-----------------------| Ctrl| Alt |Space|   |Space| GUI | Bksp|-----------------------'
//                         `-----------------'   `-----------------'
      bindings = <
         &kp N1  &kp N2  &kp N3  &kp N4  &kp N5                 &kp N6  &kp N7  &kp N8    &kp N9  &kp N0
         &kp Q   &kp W   &kp E   &kp R   &kp T                  &kp Y   &kp U   &kp I     &kp O   &kp P
&kp TAB  &kp A   &kp S   &kp D   &kp F   &kp G                  &kp H   &kp J   &kp K     &kp L   &kp SEMI &kp ENTER
&kp BSLH &kp Z   &kp X   &kp C   &kp V   &kp B                  &kp N   &kp M   &kp COMMA &kp DOT &kp FSLH &kp RSHIFT
                         &kp LCTRL &kp LALT &kp SPACE   &kp SPACE &kp RGUI &kp BACKSPACE
      >;
      display-name = "QWERTY";
    };

    keyboard_control_layer {
//       ,-----------------------------.               ,-----------------------------.
//       | BT1 | BT2 | BT3 | BT4 | BT5 |               |     |     |     |     |     |
// ,-----|     |     |     |     | BLE |               |     |     |     |     |     |-----.
// |     |     |     |     |     | USB |               |     |     |     |     |     |     |
// |     |     |     |     |ClCur| DFU |-----.   ,-----| DFU |     |     |     |     | DFU |
// `-----------------------|     |     | Exit|   |Exit |     |     |-----------------------'
//                         `-----------------'   `-----------------'
      bindings = <
       &btp 0  &btp 1  &btp 2  &btp 3  &btp 4                &none &none &none &none &none
       &none   &none   &none   &none   &out OUT_BLE          &none &none &none &none &none
&none  &none   &none   &none   &none   &out OUT_USB          &none &none &none &none &none &none
&none  &none   &none   &none   &btcc   &bootloader           &bootloader &none &none &none &none &none
                           &none &none &tog KEEBCTL     &tog KEEBCTL &none &none
      >;
      display-name = "KBDCTL";
    };
  };

  combos {
    compatible = "zmk,combos";

#include "glam-factorio-combos.dtsi"

#include "glam-sym-nav-num-combos.dtsi"

    combo_outer_and_thumbs_keyboard_control {
      timeout-ms = <50>;
      key-positions = <LM5 LB5 LH2 LH1 LH0>;
      bindings = <&tog KEEBCTL>;
    };
  };
};

//       ,-----------------------------.               ,-----------------------------.
//       |     |     |     |     |     |               |     |     |     |     |     |
// ,-----|     |     |     |     |     |               |     |     |     |     |     |-----.
// |     |     |     |     |     |     |               |     |     |     |     |     |     |
// |     |     |     |     |     |     |-----.   ,-----|     |     |     |     |     |     |
// `-----------------------|     |     |     |   |     |     |     |-----------------------'
//                         `-----------------'   `-----------------'
