/*
 * Copyright (c) 2025 Allister MacLeod
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define GLOWER  1
#define GRAISE  2
#define QWERTY  3
#define LOWER   4
#define RAISE   5

// TODO:
// - figure out what to put on right hand in game mode. Rarely used keys: right hand on mouse most of the time.

/ {
  keymap {
    compatible = "zmk,keymap";

    default_layer {
// ,-----------------------------.                     ,-----------------------------.
// |  T  |  Q  |  W  |  E  |  R  |                     |     |     |     |     |     |
// |Shift|  A  |  S  |  D  |  F  |                     |     |     |     |     |     |
// | Ctrl|  Z  |  X  |  C  |  V  |---------. ,---------|     |     |     |     |     |
// `---------------------|Space| LWR | Alt | |QWRTY| RSE |     |---------------------'
//                       `-----------------' `-----------------'
      bindings = <
&kp T      &kp Q &kp W &kp E &kp R                &none &none &none &none &none
&kp LSHIFT &kp A &kp S &kp D &kp F                &none &none &none &none &none
&kp LCTRL  &kp Z &kp X &kp C &kp V                &none &none &none &none &none
             &kp SPACE &mo GLOWER &kp LALT   &to QWERTY &mo GRAISE &studio_unlock
      >;
      display-name = "GAME";
    };

    game_lower_layer {
// ,-----------------------------.                     ,-----------------------------.
// |  L  |  U  | f+W |  Y  |  P  |                     |     |     |     |     |     |
// |  O  | f+A | f+S | f+D |  G  |                     |     |     |     |     |     |
// | RSE |Al+Ct|  M  |  B  |  H  |---------. ,---------|     |     |     |     |     |
// `---------------------|     |#####|     | |     |     |     |---------------------'
//                       `-----------------' `-----------------'
      bindings = <
&kp L      &kp U        &withf W &kp Y    &kp P           &none &none &none &none &none
&kp O      &withf A     &withf S &withf D &kp G           &none &none &none &none &none
&mo GRAISE &kp LC(LALT) &kp M    &kp B    &kp H           &none &none &none &none &none
                          &trans &trans &trans     &trans &trans &trans
      >;
      display-name = "G-LO";
    };

    game_raise_layer {
// ,-----------------------------.                     ,-----------------------------.
// |     |Alt-U| KP+ |Alt-E|Alt-R|                     |     |     |     |     |     |
// |     |Alt-A| KP- |Alt-D|Alt-G|                     |     |     |     |     |     |
// |#####|  ^Y |Alt-T|Alt-B|Alt-C|---------. ,---------|     |     |     |     |     |
// `---------------------|     |#####|     | |     |#####|     |---------------------'
//                       `-----------------' `-----------------'
      bindings = <
&none  &kp LA(U) &kp KP_PLUS  &kp LA(E) &kp LA(R)           &none &none &none &none &none
&none  &kp LA(A) &kp KP_MINUS &kp LA(D) &kp LA(G)           &none &none &none &none &none
&trans &kp LC(Y) &kp LA(T)    &kp LA(B) &kp LA(C)           &none &none &none &none &none
                                &trans &trans &trans     &trans &trans &trans
      >;
      display-name = "G-RS";
    };

    qwerty_layer {
// ,-----------------------------.                     ,-----------------------------.
// |  Q  |  W  |  E  |  R  |  T  |                     |  Y  |  U  |  I  |  O  |  P  |
// |  A  |  S  |  D  |  F  |  G  |                     |  H  |  J  |  K  |  L  |  ;  |
// |  Z  |  X  |  C  |  V  |  B  |---------. ,---------|  N  |  M  |  ,  |  .  |  /  |
// `---------------------|Space| LWR |Shift| |Enter| RSE | Bksp|---------------------'
//                       `-----------------' `-----------------'
      bindings = <
&kp Q  &kp W  &kp E  &kp R  &kp T            &kp Y  &kp U  &kp I   &kp O     &kp P
&kp A  &kp S  &kp D  &kp F  &kp G            &kp H  &kp J  &kp K   &kp L     &kp SEMI
&kp Z  &kp X  &kp C  &kp V  &kp B            &kp N  &kp M  &kp DOT &kp COMMA &kp SLASH
        &kp SPACE &mo LOWER &kp LSHIFT   &kp ENTER &mo RAISE &kp BACKSPACE
      >;
      display-name = "QWERTY";
    };

    lower_layer {
// ,-----------------------------.                     ,-----------------------------.
// |     |     |     |     |     |                     |     |     |     |     |     |
// |     |     |     |     |     |                     |     |     |     |     |     |
// |     |     |     |     |     |---------. ,---------|     |     |     |     |     |
// `---------------------|     |     |     | |     |     |     |---------------------'
//                       `-----------------' `-----------------'
      bindings = <
&none &none &none &none &none           &none &none &none &none &none
&none &none &none &none &none           &none &none &none &none &none
&none &none &none &none &none           &none &none &none &none &none
            &trans &trans &trans     &trans &trans &trans
      >;
      display-name = "LWR";
    };

    raise_layer {
// ,-----------------------------.                     ,-----------------------------.
// |     |     |     |     |     |                     |     |     |     |     |     |
// |     |     |     |     |     |                     |     |     |     |     |     |
// |     |     |     |     |     |---------. ,---------|     |     |     |     |     |
// `---------------------|     |     |     | |     |     |     |---------------------'
//                       `-----------------' `-----------------'
      bindings = <
&none &none &none &none &none           &none &none &none &none &none
&none &none &none &none &none           &none &none &none &none &none
&none &none &none &none &none           &none &none &none &none &none
            &trans &trans &trans     &trans &trans &trans
      >;
      display-name = "RSE";
    };
  };

  behaviors {
  };

  macros {
    // Hold the F key while the current key is held. This is for
    // Factorio and V Rising, where holding F picks up items from the
    // ground.
    withf: with_f_held {
      compatible = "zmk,behavior-macro-one-param";
      #binding-cells = <1>;
      bindings
        = <&macro_press>
        , <&kp F>
        , <&macro_param_1to1>
        , <&kp MACRO_PLACEHOLDER>
        , <&macro_pause_for_release>
        , <&macro_param_1to1>
        , <&macro_release>
        , <&kp MACRO_PLACEHOLDER>
        , <&kp F>
        ;     
    };
  };
};

// ,-----------------------------.                     ,-----------------------------.
// |     |     |     |     |     |                     |     |     |     |     |     |
// |     |     |     |     |     |                     |     |     |     |     |     |
// |     |     |     |     |     |---------. ,---------|     |     |     |     |     |
// `---------------------|     |     |     | |     |     |     |---------------------'
//                       `-----------------' `-----------------'
