/*
 * Copyright (c) 2024 Allister MacLeod
 *
 * SPDX-License-Identifier: MIT
 */

// Devicetree include for sharing miscellaneous utility code between
// my various ZMK keymaps. Other .dtsi files in this directory have
// more specific themes:
//  - glam-bt-kbdctl.dtsi contains macros for dealing with Bluetooth
//  - glam-multigraph.dtsi is about character-sequence macros
//  - various glam-*-combos.dtsi files contain combos of different varieties

/ {

behaviors {
  // Morph to reverse the shiftedness of left bracket and brace.
  left_brace_bracket: left_brace_bracket {
    compatible = "zmk,behavior-mod-morph";
    #binding-cells = <0>;
    bindings = <&kp LEFT_BRACE>, <&kp LEFT_BRACKET>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  // Morph to reverse shiftedness of right bracket and brace.
  right_brace_bracket: right_brace_bracket {
    compatible = "zmk,behavior-mod-morph";
    #binding-cells = <0>;
    bindings = <&kp RIGHT_BRACE>, <&kp RIGHT_BRACKET>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  // Morph for left parenthesis and left angle bracket.
  left_paren_angle: left_paren_angle {
    compatible = "zmk,behavior-mod-morph";
    #binding-cells = <0>;
    bindings = <&kp LEFT_PARENTHESIS>, <&kp LESS_THAN>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  // Morph for right parenthesis and right angle bracket.
  right_paren_angle: right_paren_angle {
    compatible = "zmk,behavior-mod-morph";
    #binding-cells = <0>;
    bindings = <&kp RIGHT_PARENTHESIS>, <&kp GREATER_THAN>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
};

};
