/*
 * Copyright (c) 2024 Allister MacLeod
 *
 * SPDX-License-Identifier: MIT
 */

// This file is meant to be included inside a `combos` block.

// combos {

  // Left ring and index for G: rail level.
  combo_left_split_grade {
    timeout-ms = <50>;
    key-positions = <LM3 LM1>;
    bindings = <&kp G>;
    layers = <FACTORY>;
  };
  // Inner two keys of left middle row for blueprints: B when tapped, Alt+B when held.
  combo_inner_blueprint {
    timeout-ms = <50>;
    key-positions = <LM1 LM0>;
    bindings = <&mt LA(B) B>;
    layers = <FACTORY>;
  };
  // Left ring and middle in bottom row for Alt+D: destruction planner.
  combo_low_prod_destruction {
    timeout-ms = <50>;
    key-positions = <LB3 LB2>;
    bindings = <&kp LA(D)>;
    layers = <FACTORY>;
  };
  // Left middle and index in bottom row for Alt+U: upgrade planner.
  combo_low_poke_upgrade {
    timeout-ms = <50>;
    key-positions = <LB2 LB1>;
    bindings = <&kp LA(U)>;
    layers = <FACTORY>;
  };
  // Inner two keys of left bottom row for O: train overlay.
  combo_low_inner_overlay {
    timeout-ms = <50>;
    key-positions = <LB1 LB0>;
    bindings = <&kp O>;
    layers = <FACTORY>;
  };
  // Vertical combo mid-inner + bot-inner for P: production statistics.
  combo_inner_production {
    timeout-ms = <50>;
    key-positions = <LM0 LB0>;
    bindings = <&kp P>;
    layers = <FACTORY>;
  };
  // Three bottom row keys in a row for M: map.
  combo_bottom_triple_map {
    timeout-ms = <50>;
    key-positions = <LB3 LB2 LB1>;
    bindings = <&kp M>;
    layers = <FACTORY>;
  };

// };
